[submodule "yolov5"]
	path = yolov5
	url = https://github.com/Jackson-coder/classroom.git
	branch = master
[submodule "trackers/strong_sort/deep/reid"]
	path = trackers/strong_sort/deep/reid
	url = https://github.com/KaiyangZhou/deep-person-reid
